@charset "UTF-8";

@font-face {
    font-family: poppinsl;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsr;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsb;
    src: url(fonts/Poppins-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centro{
    display: flex;
    height: 90%;
    box-shadow: 10px 10px 10px #1a1a1a73;
}

.card{
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    width: 450px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > h1{
    text-transform: uppercase;
    font-family: poppinsb;
    color: #FDA700;
    font-size: 20px;
    margin-top: 12px;
}

.card > p{
    font-family: poppinsl;
    font-size: 15px;
    color: #FDA700;
    margin-bottom: 40px;
}

.card > .text{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.card > .text > input{
    align-items: center;
    background-color: #7e7e7e;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 13px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.205);
    font-size: 15px;
    box-sizing: border-box;
}

.card > .text > label{
    color: white;
    font-family: poppinsr;
    margin-bottom: 10px;
    font-size: 13px;
}

.card > .text > input::placeholder{
    font-family: poppinsr;
}

.card > .entrar > button{
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-family: poppinsr;
}

.card > .entrar > button > a{
    transition: 0.3s;
    color: white;
}

.card > .entrar > button > a:hover{
    color: #FDA700;
}

@media screen and (max-width: 980px){
    .esquerda-login > img{
        display: none;
    }

    .card{
        border-radius: 10px 10px 10px 10px;
    }
}