@charset "UTF-8";

@font-face {
    font-family: poppinsl;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsr;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsb;
    src: url(fonts/Poppins-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

header{
    background-color: rgb(24, 24, 24);
    color: white;
    width: 300px;
    height: 100vh;
}

header > h1{
    text-align: center;
    font-family: poppinsb;
    padding: 50px 0px 60px 0px;
    color: rgb(255, 166, 0);
}

nav {
    display: inline-block;
    padding: 0px 30px 0px 30px;
}

header > nav > ul > li{
    margin-top: 45px;
    list-style-type: none;
}

header > nav > ul > li > a{
    color: white;
    text-decoration: none;
    font-family: poppinsr;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

header > nav > ul > li >a:hover{
    background-color: rgb(255, 166, 0);
}

.principal{
    display: none;
    background-size: cover;
    background-image: url(imagens/background03.png);
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.flex-principal{
    display: flex;
    height: 80%;
}

.card{
    margin: 80px 100px 100px 100px;
}

.text{
    display: flex;
    flex-direction: column;
}

.card > .text{
    font-family: poppinsr;
    color: white;
    padding-top: 2%;
    margin-top: 8%;
}

.card > .text > input{
    background-color: #ffffff;
    width: 300px;
    margin-top: 10px;
    font-family: poppinsr;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.637);
}

.principal > button{
    padding: 10px;
    margin-left: 100px;
    background-color: rgb(255, 166, 0);
    border: none;
    cursor: pointer;
    transition-duration: .3s;
}

.principal > button:hover{
    border-radius: 4px;
}


.secundario{
    display: none;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(33, 33, 33);
}

.flex2{
    display: flex;
    margin-top: 60px;
    background-color: #fc9630;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.flex-secundario > .clientes{
    margin: 2rem 0px 0px 4rem;
}

.flex2 > img{
    border-radius: 20%;
}

.flex2 > p{
    font-family: poppinsr;
    color: black;
    font-size: 12px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.terceiro{
    display: none;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(33, 33, 33);
}

.flex-terceiro > h1{
    color: white;
    font-family: poppinsb;
    margin: 50px 0px 0px 50px;
}

.Quarto{
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    padding: 30px 50px;
    gap: 80px;
}

.perfil-barber1 > p{
    background-color: #fc9630;
    font-family: poppinsr;
    color: white;
    text-align: center;
}

.barbeiro1 > .horarios{
    background-color: rgb(57, 57, 57);
    color: white;
    margin-top: 20px;
    padding: 15px;
    font-family: poppinsl;
}

.barbeiro2 > .horarios{
    background-color: rgb(57, 57, 57);
    color: white;
    margin-top: 20px;
    padding: 15px;
    font-family: poppinsl;
}

.barbeiro3 > .horarios{
    background-color: rgb(57, 57, 57);
    color: white;
    margin-top: 20px;
    padding: 15px;
    font-family: poppinsl;
}

.horarios > p{
    margin-top: 5px;
}